/*面包屑导航*/
.breadcrumb {
    float: right;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}
.breadcrumb>li>a:hover {
    text-decoration: none;
}
.head {
    border-bottom: 1px solid #ddd;
}
/*错误提示*/
.form-group.has-error .help-block {
    color: #dd4b39;
}
.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #dd4b39;
    box-shadow: none;
}
.form-group.has-error label {
    color: #dd4b39;
}